/*@import url("bootstrap.css");*/
body {
}

/* -------------------------------------------------------------------------- */
/* orders LIST                                                                 */
/* -------------------------------------------------------------------------- */

#orders-list-box {
	overflow:						hidden;
	width: 							600px;
	height:							auto;
}

#orders-list-wrapper {
	position: 						relative;
	overflow:						hidden;
	width: 							600px;
	min-height:						570px;
	background-color:				#fff;
	padding:						8px 0 0 0;
	margin:							0;

	-webkit-border-radius:			10px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 			10px;
	-moz-border-radius-topleft: 	0;
	border-radius: 					10px;
	border-top-left-radius: 		0;

}

#orders-list-firstload {
	position: 						relative;
	overflow:						hidden;
	width: 							580px;
	height:							450px;
	padding:						0;
	margin:							60px 0 20px 0;
	background: 					transparent url('/images/icon_firstload.png') no-repeat center center;

	font-family: 					"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:						1.4em;
	font-style:						normal;
	font-weight: 					700;
	letter-spacing:					0.1em;
	text-transform: 				uppercase;
	text-align:						center;
	color:							#888888;
}

#orders-list-empty {
	position: 						relative;
	overflow:						hidden;
	width: 							580px;
	height:							450px;
	padding:						0;
	margin:							60px 0 20px 0;
	background: 					transparent url('/images/icon_empty.png') no-repeat center center;

	font-family: 					"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:						1.4em;
	font-style:						normal;
	font-weight: 					700;
	letter-spacing:					0.1em;
	text-transform: 				uppercase;
	text-align:						center;
	color:							#888888;
	line-height:					25px;
}

#orders-list-empty.need_to_login {
	text-transform:	initial;
	width:			500px;
	margin:			60px auto;
	font-weight:	normal;
	background:		transparent url('/images/icon_empty.png') no-repeat center bottom;
}

#orders-list-empty.need_to_login div:nth-child(1) {
	font-weight:	bold;
	font-size:		30px;
	padding-bottom:	15px;
}

#orders-list-empty.need_to_login div:nth-child(2) {
	color:			red;
	font-size:		25px;
	line-height:	35px;
}

#orders-list-loader {
	position: 						relative;
	overflow:						hidden;
	display:						none;
	width: 							606px;
	height:							240px;
	padding:						8px;
	margin:							40px 0;
	background: 					transparent url('/images/icon_load_orders.png') no-repeat 0px 0px;

	font-family: 					"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:						1.4em;
	font-style:						normal;
	font-weight: 					700;
	letter-spacing:					0.1em;
	text-transform: 				uppercase;
	text-align:						center;
	color:							#fff;
}

#orders-list-loader.loading {
	background-position: 			0px -240px;
}


/* -------------------------------------------------------------------------- */
/* PART - orderS LIST: ITEMS                                                  */
/* -------------------------------------------------------------------------- */

#orders-list {
	position:						relative;
	width:							600px;
	height:							auto;
	padding:						0 0 0 0;
	margin:							0;
	list-style: 					none;
}

#orders-list .order-item {
	position:						relative;
	overflow:						hidden;
	width:							586px;
	height:							auto;
	padding:						0;
	margin:							0;
	background-color: 				#fff;
	background-repeat:				no-repeat;
}


#orders-list .order-item-wrapper {
	position:						relative;
	overflow:						hidden;
	width:							686px;
	height:							50px;
	margin:							0;
	padding:						0;
	list-style:						none;
	border-bottom:					2px solid #E6E6E6;
}

#orders-list .order-item-wrapper-mine {
	position:						relative;
	overflow:						hidden;
	width:							686px;
	height:							50px;
	margin:							0;
	padding:						0;
	list-style:						none;
	border-bottom:					3px solid #c1d7c4;
}

#orders-list .order-item-wrapper:hover, #orders-list .order-item-wrapper:active{
    cursor: pointer;	
	border-bottom:					2px solid #0066A0;
}

#orders-list .order-item-sum {
	position:						relative;
	overflow:						hidden;
	width:							686px;
	height:							20px;
	margin:							0;
	padding:						0;
	list-style:						none;
}

#orders-list .order-item-content {
	position:						relative;
	float:							left;
	height:							40px;
	margin:							0;
	padding:						0;
}

/* owner */

/* date */

#orders-list .order-item-right {
	width:							50px;
	height:							40px;
	margin:							0 0 0 0px;

	font-family: 					"Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:						right;
	font-size:						1.0em;
	font-style:						normal;
	letter-spacing:					0.1em;
	color:							#888888;
}

#orders-list .order-item-right .price {
	position:						relative;
	float:							right;
	width:							100%;
	height:							25px;
	line-height:					25px;
	padding:						0;
	margin:							0;
	font-weight:					700;
}

#orders-list .order-item-right .sum {
	position:						relative;
	float:							right;
	width:							100%;
	height:							25px;
	line-height:					25px;
	padding:						0;
	margin:							0;
	font-weight:					700;
    color:black;
}

.userName {
	position:						relative;
	float:							right;
	width:							100%;
	height:							10px;
	line-height:					10px;
	padding:						0;
	margin:							0;

	font-size:						0.6em;
	font-weight:					100;
	letter-spacing:					0.1em;
	text-transform: 				none;
}

/* start */

#orders-list .order-item-left {
	width:							510px;
	height:							40px;

	font-family: 					"Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:						left;
	font-size:						1.0em;
	font-style:						normal;
	letter-spacing:					0.1em;
	color:							#888888;
}

#orders-list .order-item-left .item {
	position:						relative;
	float:							left;
	width:							100%;
	font-size:						0.8em;
	height:							25px;
	line-height:					25px;
    overflow:                       hidden;
	font-weight:					700;
	color:							#4F5768;
}

#orders-list .order-item-left .comment {
	position:						relative;
	float:							left;
	width:							100%;
	height:							10px;
	line-height:					10px;
	padding:						0;
	margin:							0;
	letter-spacing:					0.001em;
	font-size:						0.8em;
	font-weight:					300;
}

/* stopover */

#orders-list .order-item-stopover {
	width:							20px;
	height:							20px;
	margin:							10px 6px 10px 6px;
}

/* destination */

#orders-list .order-item-destination {
	width:							195px;
	height:							40px;

	font-family: 					"Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:						left;
	font-size:						1.4em;
	font-style:						normal;
	letter-spacing:					0.1em;
	color:							#888888;
}

#orders-list .order-item-destination .city {
	position:						relative;
	float:							right;
	width:							100%;
	height:							25px;
	line-height:					25px;
	padding:						0;
	margin:							0;

	font-weight:					700;
	color:							#4F5768;
}

#orders-list .order-item-destination .country {
	position:						relative;
	float:							right;
	width:							100%;
	height:							10px;
	line-height:					10px;
	padding:						0;
	margin:							0;

	font-size:						0.8em;
	font-weight:					300;
}


#orders-list .order-item-button {
    margin:                         10px 0px 0px 2px;
	padding:                        2px 8px;
}


#orders-list .order-item-details.open {
	-webkit-transform: 				rotate(45deg);
	-moz-transform:					rotate(45deg);
	transform:						rotate(45deg);
}

#orders-list .order-item-details a {
	display:						inline-block;
	width:							24px;
	height:							24px;
	padding:						0;
	margin:							0;
	text-indent:					-9999px;
}

/* -------------------------------------------------------------------------- */
/* PART - orderS LIST: DETAIL                                                  */
/* -------------------------------------------------------------------------- */

#orders-list .order-item-detail {
	position:						relative;
	overflow:						hidden;
	width:							586px;
	height:							auto;
	margin:							0;
	padding:						0;
	cursor:							default;

	-webkit-border-radius:					0;
	-webkit-border-bottom-left-radius: 		10px;
	-webkit-border-bottom-right-radius:		10px;
	-moz-border-radius: 					0;
	-moz-border-radius-bottomleft: 			10px;
	-moz-border-radius-bottomright: 		10px;
	border-radius: 							0;
	border-bottom-left-radius: 				10px;
	border-bottom-right-radius: 			10px;

	background-color:				#E6E6E6;
	background-image: 				url('/images/grain.png'), -webkit-gradient(linear, center top, center bottom, from(#fefefe), to(#e6e6e6));
	background-image: 				url('/images/grain.png'), -webkit-linear-gradient(top, #fefefe, #e6e6e6);
	background-image: 				url('/images/grain.png'), -moz-linear-gradient(top, #fefefe, #e6e6e6);
	background-image: 				url('/images/grain.png'), -o-linear-gradient(top, #fefefe, #e6e6e6);
	background-image: 				url('/images/grain.png'), -ms-linear-gradient(top, #fefefe, #e6e6e6);
	background-image: 				url('/images/grain.png'), linear-gradient(to bottom, #fefefe, #e6e6e6);

	-webkit-transition: 			height 0.5s ease;
	-moz-transition:				height 0.5s ease;
	transition:						height 0.5s ease;
}

#orders-list .order-item-detail ul {
	margin:							15px 0 0 10px;
}

#orders-list .order-item-detail ul.column {
	position:						relative;
	overflow:						hidden;
	width:							auto;
	height:							auto;
	margin:							0;
	padding:						0;
}

#orders-list .order-item-detail ul.column.left {
	float:							left;
	width:							270px;
	margin:							15px 0 0 10px;
}

#orders-list .order-item-detail ul.column.right {
	float:							right;
	width:							285px;
	margin:							15px 10px 0 0;
}

#orders-list .order-item-detail ul li {
	padding:						5px 0 1em 55px;
}

#orders-list .order-item-detail ul.column.right li {
	border:							none;
}

#orders-list .order-item-detail .row {
	border-bottom:					1px dotted #ccc;
}

#orders-list .order-item-detail .row.spacer {
	height:							20px;
}


#orders-list .order-item-detail .row.dark {
	padding:						0 0 15px 0;

	background-color:				#4f5768;
	background-image: 				url('/images/grain.png'), -webkit-gradient(linear, center top, center bottom, from(#4f5768), to(#2f333d));
	background-image: 				url('/images/grain.png'), -webkit-linear-gradient(top, #4f5768, #2f333d);
	background-image: 				url('/images/grain.png'), -moz-linear-gradient(top, #4f5768, #2f333d);
	background-image: 				url('/images/grain.png'), -o-linear-gradient(top, #4f5768, #2f333d);
	background-image: 				url('/images/grain.png'), -ms-linear-gradient(top, #4f5768, #2f333d);
	background-image: 				url('/images/grain.png'), linear-gradient(to bottom, #4f5768, #2f333d);

	-webkit-box-shadow: 			inset 0 0 15px rgba(0,0,0,0.75);
	-moz-box-shadow:				inset 0 0 15px rgba(0,0,0,0.75);
	box-shadow: 					inset 0 0 15px rgba(0,0,0,0.75);

	border-bottom:					1px solid #4f5768;
}

#orders-list .order-item-detail .arrow-down.driver {
	width: 							0;
	height: 						0;
	border-left: 					6px solid transparent;
	border-right: 					6px solid transparent;
	border-top: 					6px solid #009800;
	margin-left: 					6px;
}

#orders-list .order-item-detail .arrow-down.passenger {
	width: 							0;
	height: 						0;
	border-left: 					6px solid transparent;
	border-right: 					6px solid transparent;
	border-top: 					6px solid #0066A0;
	margin-left: 					6px;
}

#orders-list .order-item-detail li.share input {
	width:							495px;
	height:							26px;
	color:							#888;
	font-size:						1.1em;
	border:							none;
	background:						transparent;
	position:						relative;
	padding:						0 4px;
}

#orders-list .order-item-detail li.share label {
	position:						absolute;
}

#orders-list .order-item-detail li.share label span {
	display:						block;
	height:							23px;
	border:							1px solid #BBB;
	border-radius:					5px;
	background:						white;
	width:							503px;
}

#orders-list .order-item-detail li.share #facebook-button-feed {
	display:						block;
	width:							29px;
	height:							29px;
	background:						url(/images/facebook.jpg) -32px -154px no-repeat;
}


/* -------------------------------------------------------------------------- */
/* PART - orderS LIST: MAP                                                     */
/* -------------------------------------------------------------------------- */

#orders-list .trip-map {
	position:						relative;
	overflow:						hidden;
	width:							270px;
	height:							160px;
	margin:							0 0 10px 0;
	padding:						0;
	border:							1px solid #ccc;
	background-color: 				#ccc;
}

#orders-list .trip-map-distance {
	position:						relative;
	font-size:						1.2em;
	line-height:					1.5em;
	letter-spacing:					0.1em;
	text-align:						right;
	color:							#4F5768;
}

#orders-list .trip-map-duration {
	position:						relative;
	font-size:						1.2em;
	line-height:					1.5em;
	letter-spacing:					0.1em;
	text-align:						right;
	color:							#4F5768;
}

/* -------------------------------------------------------------------------- */
/* PART - orderS LIST: FOOTER                                                  */
/* -------------------------------------------------------------------------- */

#orders-list-footer {
	position:				absolute;
	overflow:				hidden;
	width: 					590px;
	height: 				25px;
	left:					0px;
	bottom:					0px;
	margin:					10px 8px 10px 8px;
	padding:				0;
}

/* pagination */

#orders-pagination {
	float:					left;
	padding:				0;
	margin:					0;
	line-height:			20px;
	font-family: 			"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:				1.1em;
	font-weight:			500;
	font-style:				normal;
	letter-spacing:			0em;
	color:					#888888;
}

#orders-pagination a {
	margin-right:			10px;
}


/* -------------------------------------------------------------------------- */
/* providers and items                                                        */
/* -------------------------------------------------------------------------- */
.provider{
	font-family: 					"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.provider-header{
	border-bottom:					2px solid #E6E6E6;
    border-radius: 0;
	height: 24px;
    margin: 10px 0 10px 0;
    font-size: 0.8em;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    font-weight: 700;
    color: #4F5768;
	letter-spacing: 0.1em;
}


.provider-header:hover {
    cursor: pointer;				
	border-bottom:					2px solid #0066A0;
}

.provider-dinner{
    border-radius: 0;
    margin: 0;
    padding: 0;
    font-size: 0.8em;    
    /*height: 25px;
    line-height: 25px;
    font-weight: 700;*/
    color: #4F5768;
    font-size: x-small;
}


.panel-collapse {
	/*border-left:					2px solid #0066A0;*/
    margin-left: 10px;
    padding-left: 10px;
    background-color:#FAFAFA;
    border-radius:3px;
}

.itemToOrder{
    border-bottom:					2px solid #E6E6E6;
    border-radius: 0;
    margin: 0;
    padding: 0;
    font-size: 0.8em;  
    display:block
}

.itemToOrder:hover{
    cursor: pointer;	
	border-bottom:					2px solid #0066A0;
}

.itemToOrder-panel {
    padding:                        2px;
}

.providerName{
	font-family: 					"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:                      1.0em;
    border-bottom:                  2px solid #86d0f4;
    margin:                         10px 0px 10px 0px;
}



/* -------------------------------------------------------------------------- */
/* Headers                                                                    */
/* -------------------------------------------------------------------------- */

.columnHeader {
	font-family: 					"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:                      2.8em;
    text-align:                     center;
}

.comessaTitle {
    font-size:                      2.8em;
    color:                          #135d84;
    margin:                         6px;
}
.comessaTitle:hover,
.comessaTitle:focus {
  text-decoration: none;
}
.comessaLogin {
    color:                          #777;
    font-size:                      10px;
}
